{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 8
            }
          }
        ]
      ]
    },
    "renderer": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 3 versions", "safari >= 6"]
            }
          }
        ]
      ]
    }
  },
  "plugins": ["transform-runtime", "transform-object-rest-spread"]
}
