.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
data/tmp/
.tmp/
tmp/
.cache
dist
sample-data/design/
sample-data/excel/
sample-data/image/
!sample-data/design/.gitkeep
!sample-data/excel/.gitkeep
!sample-data/image/.gitkeep
!.gitkeep
training-data/
