html
  overflow: auto

body
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

img
  box-shadow: none

.section
  padding: 1.5em

.center-aligned
  text-align: center

.material-icons
  padding-right: 0.25em

.material-icons + span
  // padding-left: 0.25em

.fixed
  position: fixed
  bottom: 1.5em
  left: 50%
  transform: translateX(-50%)
  text-align: center
  min-width: calc(624px - 3em)
  div
    margin: 0 auto

.has-pointer
  cursor: pointer

.no-padding
  padding: 0!important
