html, body
  background-color: rgba(0,0,0,0)
  overflow-y: hidden

body
  padding: 10px
  height: calc(100vh - 10px)

#app
  box-shadow: 0 0 10px #000
  border-radius: 10px

.is-hidden
  display: none

// disbale text selection
*::selection
  background: transparent

img
  box-shadow: none

.navbar
  -ms-overflow-style: scrollbar
  -webkit-app-region: drag
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  input[type="text"],
  input[type="radio"],
  input[type="checkbox"],
  select,
  button,
  textarea,
  a,
  button
    -webkit-app-region: no-drag
  h1, h2, h3, h4, h5, h6
    -webkit-user-select: none
