<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-eval' 'unsafe-inline' http://localhost:9080"
    />
    <title></title>

    <!-- add prefetch links for modules -->
    <% if (htmlWebpackPlugin.options.isDevMode) { %>
    <link rel="prefetch" href="./dist/processTaskWorker.js" as="script" />
    <% } else{ %>
    <link rel="prefetch" href="./processTaskWorker.js" as="script" />
    <% } %>
  </head>

  <body>
    <div id="app"></div>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
